<p>
	&copy; {{ now.Format "2006" }} <a href="{{ .Site.BaseURL }}">{{ .Site.Params.author.name }}</a>

	&#183; {{ i18n "partita_iva" . }} 03888370040&nbsp;&#183; <a href="mailto:info@albertoreineri.it"
		title="Alberto Reineri Email">
		info@albertoreineri.it
	</a>

	{{- range .Site.Menus.footer -}}
	&#183; <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
	{{- end -}}
	&nbsp;
	&#183; <a href="{{ " index.xml" | absLangURL }}" target="_blank" title="rss">{{ partial "svg.html" (dict "context" .
		"name" "rss") }}</a>

	{{ range $.Translations }}
	&#183;
	<a class="home-page-flag" title="{{ .Language.LanguageName }}" href="{{ .Permalink }}">
		{{- partial "svg.html" (dict "context" . "name" .Site.Params.flagIcon) -}}
	</a>
	{{ end }}
</p>