<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">

<head>
	<!-- Start cookieyes banner -->
	<script id="cookieyes" type="text/javascript"
		src="https://cdn-cookieyes.com/client_data/7f7168cf0b7e86e5c47e111d/script.js"></script>
	<!-- End cookieyes banner -->
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-9MQ20QPDEM"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-9MQ20QPDEM');
	</script>
	<!-- Piwik-->
	<script type="text/javascript">
		(function (window, document, dataLayerName, id) {
			window[dataLayerName] = window[dataLayerName] || [], window[dataLayerName].push({ start: (new Date).getTime(), event: "stg.start" }); var scripts = document.getElementsByTagName('script')[0], tags = document.createElement('script');
			function stgCreateCookie(a, b, c) { var d = ""; if (c) { var e = new Date; e.setTime(e.getTime() + 24 * c * 60 * 60 * 1e3), d = "; expires=" + e.toUTCString(); f = "; SameSite=Strict" } document.cookie = a + "=" + b + d + f + "; path=/" }
			var isStgDebug = (window.location.href.match("stg_debug") || document.cookie.match("stg_debug")) && !window.location.href.match("stg_disable_debug"); stgCreateCookie("stg_debug", isStgDebug ? 1 : "", isStgDebug ? 14 : -1);
			var qP = []; dataLayerName !== "dataLayer" && qP.push("data_layer_name=" + dataLayerName), isStgDebug && qP.push("stg_debug"); var qPString = qP.length > 0 ? ("?" + qP.join("&")) : "";
			tags.async = !0, tags.src = "https://albertoreineri.containers.piwik.pro/" + id + ".js" + qPString, scripts.parentNode.insertBefore(tags, scripts);
			!function (a, n, i) { a[n] = a[n] || {}; for (var c = 0; c < i.length; c++)!function (i) { a[n][i] = a[n][i] || {}, a[n][i].api = a[n][i].api || function () { var a = [].slice.call(arguments, 0); "string" == typeof a[0] && window[dataLayerName].push({ event: n + "." + i + ":" + a[0], parameters: [].slice.call(arguments, 1) }) } }(i[c]) }(window, "ppms", ["tm", "cm"]);
		})(window, document, 'dataLayer', '5cb5e4cf-03a6-4a03-bb78-7bdd916fb03c');
	</script>
	{{/* <!-- Inizio del frammento di codice HubSpot -->
	<button type="button" id="hs_show_banner_button" style="background-color: #425b76; border: 1px solid #425b76;
         border-radius: 3px; padding: 10px 16px; text-decoration: none; color: #fff;
         font-family: inherit; font-size: inherit; font-weight: normal; line-height: inherit;
         text-align: left; text-shadow: none;" onClick="(function(){
    var _hsp = window._hsp = window._hsp || [];
    _hsp.push(['showBanner']);
  })()">
		Impostazioni cookie
	</button> */}}

	<!-- Fine del frammento di codice HubSpot -->
	{{/*
	<link rel="icon" type="image/png" href="/images/logoad.png"> */}}
	{{ $image := resources.Get "images/logoad.png" }}
	{{/* <img src="{{ $image.RelPermalink }}" alt="Alberto Reineri" style="max-width: 100px; margin:0 auto" /> */}}
	<link rel="icon" type="image/png" href="{{ $image.RelPermalink }}" />

	{{ partial "search/assets/css" . }}
	{{ partial "search/assets/js" . }}

	{{- if .Site.Params.googleTagManager -}}{{- partial "googleTagManager_head.html" . -}}{{- end -}}
	{{- partial "analytics.html" . -}}
	{{- partial "site-meta.html" . -}}
	{{ $author := (.Params.author | default .Site.Params.author.name) -}}
	<meta name="author" content="{{ $author }}">
	{{- with .Page.Params.description | default .Site.Params.description -}}
	<meta name="description" content="{{.}}">{{- end -}}
	{{- partial "structured-data.html" . -}}
	<title>{{.Title}}</title>
	{{ range .AlternativeOutputFormats -}}
	{{ printf `
	<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Title | safeHTML }}
	{{ end -}}
	{{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "css/style.css" . | toCSS | minify |
	fingerprint -}}
	<link rel="stylesheet dns-prefetch preconnect preload prefetch" as="style" href="{{ $style.Permalink }}" {{
		printf "integrity=%q" $style.Data.Integrity | safeHTMLAttr }} crossorigin="anonymous">
	{{- range .Params.custom_css -}}
	{{ $c_css := resources.Get . | resources.ExecuteAsTemplate "css/style.css" . | toCSS | minify | fingerprint -}}
	<link rel="stylesheet preload prefetch" as="style" href="{{ $c_css.Permalink }}" {{ printf "integrity=%q"
		$c_css.Data.Integrity | safeHTMLAttr }} crossorigin="anonymous">
	{{- end -}}
	{{- block "head" . -}}{{- end -}}
	{{- if templates.Exists "partials/extra-head.html" -}}{{- partial "extra-head.html" . -}}{{- end -}}


	{{/*
	<link rel="stylesheet"
		href="https://raw.githubusercontent.com/gethugothemes/hugo-modules/master/gallery-slider/assets/plugins/glightbox/glightbox.css">
	<script
		src="https://raw.githubusercontent.com/gethugothemes/hugo-modules/master/gallery-slider/assets/plugins/glightbox/glightbox.js"></script>
	<script
		src="https://raw.githubusercontent.com/gethugothemes/hugo-modules/master/gallery-slider/assets/js/gallery-slider.js"></script>
	*/}}
</head>

<body id="page">
	{{- if .Site.Params.googleTagManager -}}{{- partial "googleTagManager_body.html" . -}}{{- end -}}
	{{- block "header" . -}}{{ end -}}
	{{- block "main" . -}}{{ end -}}
	{{- block "footer" . -}}{{ end }}
	{{- partial "scroll-to-top.html" . }}
	{{- $main := resources.Get "js/main.js" -}}
	{{- if .Site.Params.code_copy_button | default true -}}
	{{ $codeCopy := resources.Get "js/code-copy.js" -}}
	{{ $script := slice $main $codeCopy | resources.Concat "js/bundle.js" | minify | fingerprint -}}
	<script async src="{{ $script.Permalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }}
		crossorigin="anonymous"></script>
	{{- else -}}
	{{ $script := $main | minify | fingerprint -}}
	<script async src="{{ $script.Permalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }}
		crossorigin="anonymous"></script>
	{{- end -}}
	{{- if and (not (eq .Site.Params.shareSocial nil)) (.Site.Params.shareSocial) -}}
	{{ $linkshare := resources.Get "js/link-share.js" | minify | fingerprint -}}
	<script async src="{{ $linkshare.Permalink }}" {{ printf "integrity=%q" $linkshare.Data.Integrity | safeHTMLAttr }}
		crossorigin="anonymous"></script>
	{{- end -}}
	{{- range .Params.custom_js -}}
	{{ $c_js := resources.Get . | minify | fingerprint -}}
	<script defer src="{{ $c_js.Permalink }}" {{ printf "integrity=%q" $c_js.Data.Integrity | safeHTMLAttr }}
		crossorigin="anonymous"></script>
	{{- end }}
	{{- partial "mathjax.html" . -}}
	{{- if templates.Exists "partials/extra-foot.html" -}}{{- partial "extra-foot.html" . -}}{{- end }}
	<script id="dsq-count-scr" src="//albertoreineri-it.disqus.com/count.js" async></script>
</body>

</html>